  <h1>About me </h1> 

<br />
<br />
  <div class="row">
      <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'Martin.jpg', class: 'img-fluid' %>
    </div>

<div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Martin McReynolds</h2>
  <p>
    My name is Martin McReynolds. I live in Nashville, TN and grew up in Southeast Missouri. The last 7 years I have worked as an integration engineer and cell-phone tower technician. I work with construction crews to integrate newly built cell carrier systems such as T-Mobile's current 5G launch. Growing up I was passionate about computer software, and spent many hours tinkering with things such as Napster, Winamp, Limewire, and various PC games such as Rainbow Six, Warcraft, Half-Life, Team-Fortress, and Counter-Strike. Recently My passion for software has been rediscovered as I am currently training in Vanderbilt's software engineering bootcamp to enter the field as a full-stack developer. I am passionate self-improvement addict, and always looking for ways to improve and learn. 
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>d